body {
  font-family: 'Montserrat';
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important; }

footer .container {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 30px;
  padding-bottom: 24px; }

footer .logo {
  text-align: left; }

footer h2 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.72px;
  color: #000000; }

footer h4 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000; }

footer .footer__text {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

footer h4 {
  padding-right: 48px !important; }

footer h4:last-child {
  padding-right: 0 !important; }

footer .col-md-6,
footer .col-md-3 {
  align-self: center; }

footer .footer__icon {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end; }

footer i {
  padding-right: 16px; }

footer i:last-child {
  padding-right: 0; }

footer .coppryright {
  text-align: center; }

@media screen and (max-width: 576px) {
  footer .logo {
    text-align: center; }
  footer .row {
    flex-direction: column;
    text-align: center; }
  footer .col-md-5 {
    justify-content: center;
    text-align: center; }
  footer .footer__text {
    flex-direction: column;
    justify-content: center; }
  footer .footer__icon {
    padding-top: 16px;
    justify-content: center; }
  footer h4 {
    padding-right: 0 !important; }
  footer h4 {
    padding-top: 16px !important; } }
